/**{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } 
*/
/*
 * CONTENTS
 * (Media queries at the end of each relevant section)
 *
 * COMPONENTS
 * Colors
 * Fonts
 * Html, Body
 * -----Headings
 * Wrappers
 * Navbar
 * Footer
 * Index page
 * User-profile page
 */

 /*----------Colors---------*/
 :root{
   --page-bg-color: #F7F7F7;
   --nav-bg-color: #BCB8B1;
   --light-offset:#BCB8B1;
   --text-color: black;
   --highlight-color:#D95730;
   --dark-offset: #403935;
   --title-bar-color:#E9E8E6;
 }

 /*----------Fonts---------*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*----------HTML, body---------*/

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Lato', monospace;
}

a{
  color:var(--highlight-color);
}

.button{
    color: black;
    background-color:var(--highlight-color);
  
}
.button:hover{
  background-color:#E8A794;
}

.collapsible-body{
  background-color: var(--title-bar-color);
}
.bar{
  background-color: var(--title-bar-color);
}
/*----------Wrappers---------*/

/*Code for page-container from https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
#page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content-wrapper {
  flex: 1 0 auto;
  padding: 2%;
  // background-color: #f5f5f4;
  background-color: var(--page-bg-color);
  color: var(--text-color);
}

/*----------NAVBAR-------*/

.navbar {
  margin-bottom: 0;
}

#navBar {
  //color: black;
  color:var(--text-color)
  //background-color: #c4c2bf;
  background-color: var(--nav-bg-color);
}

.nav {
  background-color: var(--light-offset)
  color: var(--text-color);
}
#navBar * {
  color: var(--text-color);
}
/*
nav > * {
  color: black;
}

#navBar * {
  color: black !important;
}

nav ul a {
  color: black;
}*//*
nav ul a {
  color: var(--text-color);
}*/

.logo {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

nav .brand-logo {
  color: black !important;
  max-height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 14px !important;
  font-weight: bold;
}

#logo-img{
  max-height:100%;
  max-width:100%;
}

.nav-background-img {
  width: 100%;
  height: 100%;
}

/*----------FOOTER---------*/

.footer {
  background-color: var(--nav-bg-color);
  color: var(--dark-offset);
  padding: 5px;
  font-size: 1rem;
}

.footer-div {
  margin-left: auto;
  margin-right: 0;
  float: right;
}

@media (max-width: 390px) {
  .footer {
    padding: 5px;
    font-size: 1rem;
  }
}

/*----------Index page---------*/
.collapsible {
  width: 100%;
}

.toolbarButtons {
  text-align: right;
}
.row {
  margin: 10px;
}

#tag {
  margin: 0;
  padding-right: 10px;
}

.material-icons {
  vertical-align: middle;
}

select {
  display:inline;
}

@media (max-width: 500px) {
  .titleCol {
    overflow: auto;
  }
}

/*----------User-profile page---------*/
.user-profile{
  background-color: #E9E8E6;
  border-radius: 25px;
}