 /**{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

#navBar{
  color:black;
  background-color:#C4C2BF;
}
.nav{
  background-color:lightgrey;
  color:black  !important;
}
nav > * {
  color:black;
}
.#navBar * {
  color:black  !important;
}
nav ul a {
  color:black;
}
.logo {
  border-radius: 50%;
  /*margin: 10px auto;*/
  width:45px;
  height:45px;
}
  .brand-logo{
    color:black!important;
    max-height:100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
.sidenav{
 /* top:auto;*/
}

.form-group{
  margin-top:0.5rem;
  margin-bottom:0.5rem !important;
}
.card{
  box-shadow:none !important;
  margin:0  !important;
  /*border:none  !important;*/
}

.card-body{
  padding:0.5rem  !important;
}
/*
 * CONTENTS
 * (Media queries at the end of each relevant section)
 *
 * COMPONENTS
 * -----Fonts
 * Html, Body
 * -----Headings
 * Wrappers
 * ------Buttons
 * Navbar
 * Footer

 * Note page
 * Index page

 * INDEX
 *
 * ABOUT
 *
 * SHOP
 *
 * CONTACT
 *
 * Debugging
 */

 /*----------HTML, body---------*/

 html,
 body {
  display:flex;
  flex-direction: column;
  height:100%;
 }

 /*----------Wrappers---------*/

 /*page-container, content-wrapper, and footer from https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
#page-container {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;*/
  display:flex;
  flex-direction:column;
  height:100%;
}
#pageContainer {
  display: flex;
  flex-direction: row;
  height: 100vw;
  height: 100vh;
}
#content-wrapper {
flex:1 0 auto;
padding:2%;
background-color:#F5F5F4;
}
 

/*----------Note page---------*/

#note_body {
  height: 100%;
 /* background-color: red;*/
}
#my_id {
 /* background-color: red;*/
  height: 100%;
}

.note_class {
  /*background-color: red;*/
}

 .form-group{
  /* min-width:50%;*/

 }
 .titleBody{
 /* display: none;*/
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding: 2rem; }

 .titleBar{
   display:flex;
   align-items:center;
 }
 .bar{
  padding: 0 4px 0 4px;
  
  outline: solid lightgrey 0.5px; 
 }
 #subBar{
   display:flex;
  min-width:100%;
  max-width:100%;
  background-color:#FBFBF2;
    /* width:20%;*/
     /*background-color:white;
     color:black;
     font-weight: bold;
     text-align: left;*/
    /* background-color: lightgray;*/
      /* display: flex;
       flex: 0 0 auto;
       flex-shrink: 0;
       flex-wrap: wrap;*/
       /*padding: 0 4px 0 4px;*/
       padding: 0.5rem;
       outline: solid lightgrey 0.5px;
      background-color:white;
   }
   .card{
     /*background-color:lightgrey;*/
    
   }
 #subBtn,
 .informationElement {
   align-items: center;
     background: 0 0;
     border: 0;
     border-radius: 3px;
     box-shadow: none;
     color: #222f3e;
     display: flex;
     flex: 0 0 auto;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     height: 34px;
     justify-content: center;
     margin: 2px 4px 3px 4px;
     outline: 0;
     overflow: hidden;
     padding: 0 4px;
     text-transform: none;
     width: auto;
 }
 #subBtn:hover{
 background-color:lightgrey;
 }
 #noteContainer {
  /*background-color: #eeebcf;*/
  height:100%;
padding:1%;
/*flex: 1 0 auto;*/
/*
height:100%;
display:flex;
flex-direction:column;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
*/
}
#noteContainer input,
textarea {
  /*background-color: #fffef2;*/
 /* background-color:#FBFBF2;*/
 background-color:white;
  color: black;
}
#noteForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
.submitBtn {
  padding: 3px 3px;
}
.btn {
 /* background-color: #C4C2BF !important;*/
}

@media (min-width: 768px) {
/*  #noteContainer{
    padding-left: 7.5%;
    padding-right:7.5%;
  }*/
  }
/*----------Index page---------*/

.toolbarButtons{
  text-align:right;
}
.row {
  margin: 10px;
}

/*----------Navbar--------*/

.navbar {
  margin-bottom: 0;
}

/*----------FOOTER---------*/

.footer {
  background-color:#C4C2BF;
  color:black;
  padding: 5%;
  font-size: 1rem;
}

@media (min-width: 390px) {
  .footer {
      padding: 5px;
      font-size: 1rem;
  }




/*
#exists {
  visibility: hidden;
}*/


/*page-container, content-wrapper, and footer from https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/

.footer {
  /*position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #f5f5f5;*/
  /*padding:15px;*/
  /*margin:15px;
  font-size:1rem;*/
}
/*
#cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}*/
/*
#frameContainer {
  width: 100%;
  height: 100%;
}
*/
/*
#pageFrame {
  width: 100%;
  height: 100%;
}*/

/*
#textContainer {
  height: 75%;
}

*/


/*
#noteInfoContainer {
}
#textContainer {
  height: 90%;
}
#note {
  margin: auto;
  height: 100%;

  width: 100%;
}*/




/*

input[type="text"], textarea {
    width: 100%;
    height:100%;
    border: none;
    background: #ccc;
    font-family: arial;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
*/
/*
form{
    width:100%;
    height:100%;
}*/

/*
#frameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 50vh;
}

#pageFrame {
  margin:auto;
  width: 98%;
  height: 98%;
}

#noteContainer {

  margin:1.5%;
  color:black;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
*/


/*
.footer i.fa, i.fab {
  color: #8E8D8A;
}

.footer i.fa:hover, i.fab:hover {
  color: black;
}

.footer {
  background-color: white;
  color: #8E8D8A;
  padding: 5%;
  font-size: 1rem;
}

.footer .container-fluid {
  padding: 0px;
}

.footercol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa, .fab {
  font-size: 1.5rem;
}

@media (min-width: 390px) {
  .footer {
      padding: 5px;
      font-size: 1rem;
  }
  .fa, .fab {
      font-size: 2rem;
  }
}
*/

.contact-info {
  text-align: center;
  margin-top: 2rem;
}

.center-form {
  margin-top: 25px;
  padding-bottom: 25px;
}

.contact {
  background: 0 0;
  background-color: white;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 1rem;
  padding: 15px 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font: 300 16px "Inconsolata", sans-serif;
  -webkit-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s;
}

input[type="file"] {
  margin-bottom: 10px;
}

.custom-file-upload {
  /* HTML and CSS only file upload button from https://stackoverflow.com/questions/572768/styling-an-input-type-file-button */
  background-color: white;
  border: solid;
  color: black;
  margin-bottom: 1rem;
  padding: .375rem .75rem;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

label {
  margin-bottom: 0px;
}

.custom-file-upload:hover {
  -webkit-box-shadow: 0px 0px 10px grey;
  box-shadow: 0px 0px 10px grey;
  opacity: 1;
}

@media (min-width: 576px) {
  .custom-file-upload {
      display: inline-block;
      text-align: left;
  }
}
/*
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}*/
.collapsible{
border-top: 0;
    border-right: 0;
    border-left: 0;
    margin: 0;
}

.collapsible-body{
  /*padding:10px;*/
}

input::-webkit-calendar-picker-indicator {

  opacity: 100;
}
/*
label{
  line-height:21px;
  font-size:1rem;
  display:block;
  color:red;
  margin-bottom:0;
  position:relative;
}
*/

.input-field{
      /* width: 20%; */
      background-color: #fff;
      display: flex;
      flex: 0 0 auto;
      flex-shrink: 0;
      flex-wrap: wrap;
      padding: 0 4px 0 4px;
    
}
label.active{
  margin:0;
  padding: 1px 0px;
}

