
/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } 
*/

#cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
}
#pageContainer{
  display:flex;
  flex-direction: row;
  height:100vw;
  height:100vh;
}
#frameContainer {
width:100%;
height:100%;
}

#pageFrame {
 width:100%;
 height:100%;
}

#textContainer{
 height:75%;
}
#noteContainer {
  /*background-color: #eeebcf;*/
 height:100%;
 width:35%;
 padding-left:0.5%;
 padding-right:0.5%;
}

#noteContainer input, textarea{
background-color:#fffef2;
color:black;
}
#noteInfoContainer{

}
#textContainer{
  height:90%;
 }
#note{
  margin:auto;
    height:100%;

    width:100%
}
#noteForm{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.navbar{
  margin-bottom:0;
}

.btn{
  padding:0;
}
/*

input[type="text"], textarea {
    width: 100%;
    height:100%;
    border: none;
    background: #ccc;
    font-family: arial;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
*/
/*
form{
    width:100%;
    height:100%;
}*/

/*
#frameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 50vh;
}

#pageFrame {
  margin:auto;
  width: 98%;
  height: 98%;
}

#noteContainer {

  margin:1.5%;
  color:black;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
*/