
/*----------Read.html---------*/
#readTitle {
  max-width: 100%;
  overflow: auto;
}

/*----------Note.html---------*/

#content-wrapper {
  margin: 0;
  padding: 0;
  background-color: #c4c2bf;
}


#note_body {
  height: 100%;
}

#my_id {
  height: 100%;
}

.titleBody {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding: 2rem;
}

.titleBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.bar {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  background-color: #fbfbf2;
  outline: solid lightgrey 0.5px;
}

#moreButton {
  border: none;
  display: inline-block;
  line-height: 1;
  height: 100%;
}

#note_title {
  height: 100%;
  margin: 0;
  padding-left: 15px;
  border-bottom: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

#subBar {
  height: 40px;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  background-color: #fbfbf2;
  align-items: center;
  outline: solid lightgrey 0.5px;
  background-color: white;
  justify-content:start;
}

#subBtn {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

#subBtn,
.informationElement {
  align-items: center;
  background: 0 0;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: #222f3e;
  display: flex;
  flex: 0 0 auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 34px;
  justify-content: center;
  margin: 2px 4px 3px 4px;
  outline: 0;
  overflow: hidden;
  padding: 0 4px;
  text-transform: none;
  width: auto;
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

#subBtn:hover {
  background-color: lightgrey;
}

#noteContainer {
  height: 100%;
  padding: 0 0.5% 0 0.5%;
}

#noteContainer input,
textarea {
  background-color: white;
  color: black;
}

#noteForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#note_body_display{
  color:black;
  background-color:white;
  height:100%;
  width:100;
  padding:10px;
}

select {
  display:inline;
}

.submitBtn {
  padding: 3px 3px;
}

#tinymce-livepreview {
  visibility: hidden;
}

.form-group {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem !important;
}

.card {
  box-shadow: none !important;
  margin: 0 !important;
}

.card-body {
  padding: 0.5rem !important;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
}
/*
.footer {
  text-align: right;
  height: 10px;
}
*/