<!DOCTYPE html>
<html>

<head>
    {% block title %}
    {% if title %}{{ title }} - Notes{% else %}Welcome to Notes{% endif %}
    {% endblock %}



    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/wiki.css')}}" type="text/css">-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
    {% block moreStyle %}{% endblock moreStyle %}
    {% block moreScripts %}{% endblock moreScripts %}



</head>

<body>


    {% block body %}
    <div id='page-container'>
        {% block navbar %}
        <nav class="navbar navbar-default">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>

            <a href="{{ url_for('login') }}">Login</a>

            <a href="{{ url_for('logout') }}">Logout</a>
            {% if userLoggedIn %}
            <a href="{{ url_for('user', username = session['username']) }}">Profile</a>
            {% endif %}

            <a href="{{ url_for('search_notes') }}">Search notes</a>
            <a href="{{ url_for('new_note') }}">New note</a>

        </nav>
        {% endblock navbar %}


        {% block content %}

        <div id='content-wrapper'>

            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>

            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
        </div>


        {% block footer %}
        <!-- Footer -->
        <footer class='footer'>&copy; 2020 ray</footer>
        <!--End footer-->
        {% endblock footer %}
        {% endblock %}
    </div>

    {% endblock body %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
        })
    </script>
    <script src="https://cdn.tiny.cloud/1/ckycyfqwml2uv87kz8af3n6vc22p02k2phge19237f5rfny8/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script> 
        tinymce.init({
            selector: '#note_body',
            /*setup: function (editor) {
                editor.ui.registry.addMenuItem('save', {
                    icon: 'save',
                    text: 'Save',
                    cmd: 'mceSave',
                    context: 'file',
                    disabled: false,
                    onSetup: function () {
                        var self = this;
                        editor.on('nodeChange', function () {
                          editor.save();
                        });
                    }
                });
            },*/
            body_class: 'note_class',
            body_id: 'my_id',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak save spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help',
            ],
            toolbar: 'save | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullpage | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                file: { title: 'File', items: 'save | restoredraft | preview | print ' },
                edit: { title: 'Edit', items: 'save |undo redo | cut copy paste | selectall | searchreplace' },
                view: { title: 'View', items: 'code | visualaid visualchars visualblocks | spellchecker | preview fullscreen' },
                insert: { title: 'Insert', items: 'image link media template codesample inserttable | charmap emoticons hr | pagebreak nonbreaking anchor toc | insertdatetime' },
                format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | formats blockformats fontformats fontsizes align | forecolor backcolor | removeformat' },
                tools: { title: 'Tools', items: 'spellchecker spellcheckerlanguage | code wordcount' },
                table: { title: 'Table', items: 'inserttable | cell row column | tableprops deletetable' },
                help: { title: 'Help', items: 'help' }
            },
            content_css: 'css/content.css'
        });

        $('#submitNote').click(function (e) {
            console.log('clicked');
            //var myContent = tinymce.get("#myTextarea").getContent();
            var richText = tinymce.get('note_body').getContent();
            console.log('h: ' + richText);
        });
    </script>
</body>

</html>