<!DOCTYPE html>
<html>

<head>
    {% block title %}
    {% if title %}{{ title }} - Notes{% else %}Welcome to Notes{% endif %}
    {% endblock %}



    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/wiki.css')}}" type="text/css">-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
    <!-- Bootstrap core CSS -->
    -
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">

    {% block moreStyle %}{% endblock moreStyle %}
    {% block moreScripts %}{% endblock moreScripts %}



</head>
{% block body %}

<body>

    <div id='page-container'>

        {% block navbar %}
        <!-- Header -->
        <header>


            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#!">three</a></li>
                <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
            </ul>

            <nav id="navBar">
                <div class="nav-wrapper">
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                            class="material-icons">menu</i></a>
                    <a href="#!" class="brand-logo">Logo</a>
                    <ul class="right">
                        {% if not userLoggedIn %}
                        <li><a href="{{ url_for('register') }}">Sign up</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        {% elif userLoggedIn %}
                        <li><a href="{{ url_for('user', username = session['username']) }}">{{ user.username }}</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="images/office.jpg">
                        </div>
                        <ul>
                            {% if not userLoggedIn %}
                            <li><a href="{{ url_for('register') }}">Sign up</a></li>
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            {% elif userLoggedIn %}
                            <li><a href="{{ url_for('user', username = session['username']) }}">{{user.username}}</a>
                            </li>

                            {% endif %}
                        </ul>
                    </div>
                </li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('new_note') }}">Create a new note</a></li>
                <li><a href="{{ url_for('search_notes') }}">Search notes</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>

            </ul>


            <ul class="sidenav" id="slide-out">

                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('new_note') }}">Create a new note</a></li>
                <li><a href="{{ url_for('search_notes') }}">Search notes</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>


            <!-- End navigation -->
        </header>
        <!-- End header -->
        {% endblock navbar %}

        <!--        <nav class="navbar navbar-default">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>

            <a href="{{ url_for('login') }}">Login</a>

            <a href="{{ url_for('logout') }}">Logout</a>
            {% if userLoggedIn %}
            <a href="{{ url_for('user', username = session['username']) }}">Profile</a>
            {% endif %}

            <a href="{{ url_for('search_notes') }}">Search notes</a>
            <a href="{{ url_for('new_note') }}">New note</a>

        </nav>-->
        {% block content %}
        <div id='content-wrapper'>

            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>

            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock app_content %}


        </div>
        {% endblock content %}

        <!--end content-->
        {% block footer %}
        <!-- Footer -->
        <footer class='footer'>&copy; 2020 ray</footer>
        <!--End footer-->
        {% endblock footer %}
    </div>
    <!-- End page container-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Compiled and minified CSS -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
        })
    </script>
    <script src="https://cdn.tiny.cloud/1/ckycyfqwml2uv87kz8af3n6vc22p02k2phge19237f5rfny8/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#note_body',
            /*setup: function (editor) {
                editor.ui.registry.addMenuItem('save', {
                    icon: 'save',
                    text: 'Save',
                    cmd: 'mceSave',
                    context: 'file',
                    disabled: false,
                    onSetup: function () {
                        var self = this;
                        editor.on('nodeChange', function () {
                          editor.save();
                        });
                    }
                });
            },*/
            body_class: 'note_class',
            body_id: 'my_id',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak save spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help',
            ],
            toolbar: 'save | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullpage | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                file: { title: 'File', items: 'save | restoredraft | preview | print ' },
                edit: { title: 'Edit', items: 'save |undo redo | cut copy paste | selectall | searchreplace' },
                view: { title: 'View', items: 'code | visualaid visualchars visualblocks | spellchecker | preview fullscreen' },
                insert: { title: 'Insert', items: 'image link media template codesample inserttable | charmap emoticons hr | pagebreak nonbreaking anchor toc | insertdatetime' },
                format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | formats blockformats fontformats fontsizes align | forecolor backcolor | removeformat' },
                tools: { title: 'Tools', items: 'spellchecker spellcheckerlanguage | code wordcount' },
                table: { title: 'Table', items: 'inserttable | cell row column | tableprops deletetable' },
                help: { title: 'Help', items: 'help' }
            },
            content_css: 'css/content.css'
        });

        $('#submitNote').click(function (e) {
            console.log('clicked');
            //var myContent = tinymce.get("#myTextarea").getContent();
            var richText = tinymce.get('note_body').getContent();
            console.log('h: ' + richText);
        });


    </script>
    <script> $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        /*  document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {edge:'right'});
      });*/
        /* $('.button-collapse').sideNav({
         edge: 'right' // <--- CHECK THIS OUT
       }
     );*/

        $(".dropdown-trigger").dropdown();

    </script>
    <script>


        $(document).ready(function () {
            $('select').formSelect();
        });

    </script>
</body>
{% endblock body %}

</html>