{% extends 'bootstrap/base.html' %}
<head><link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css"></head>
{% block title %}
    {% if title %}{{ title }} - Notes{% else %}Welcome to Notes{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('register') }}">Register</a>
  
      <a href="{{ url_for('login') }}">Login</a>
  
      <a href="{{ url_for('logout') }}">Logout</a>
      {% if userLoggedIn %}
      <a href="{{ url_for('user', username = session['username']) }}">Profile</a>
      {% endif %}
      <a href="{{ url_for('search') }}">Search wikipedia</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
