{% extends "base.html" %}

{% block title %}
{{ super() }}
{% if note %}
-{{note.title}}
{% elif not note %}
-Untitled {% endif %}
{% endblock title %}

{% block moreStyle %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/notepage.css')}}" type="text/css">
{% endblock moreStyle %}
{% block flashed %}
<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div>
    <div class="alert alert-saved alert-info" role="alert">{{ message }}</div>
  </div>

  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
{% endblock flashed%}
{% block app_content %}

<!--Form container-->
<div id='noteContainer'>
  <!--Form-->
  <form action="/page/" method='POST' id='noteForm' class='browser-default' autocomplete="off">
    <!--Title bar-->
    <div class="titleBar " id='subBar'>
      <label class='sr-only' for="note_title">Title: </label>
      {% if note.title %}
      <input id="note_title" name="note_title" type="text" class="validate form-control" value="{{note.title}}"
        placeholder=" {% if note %}{{note.title}}{% elif not note %}Title{% endif %}">
      {% else %}
      <input id="note_title" name="note_title" type="text" class="validate form-control" value="{{note.title}}"
        placeholder="Title">
      {% endif %}
    </div>
    <!--save note-->
    <div id='subBar'>
      <button class="" id='subBtn' type="submit"><span>Save</span></button>
      <button class="" type="button" data-toggle="collapse" data-target="#collapseTag" aria-expanded="false"
        aria-controls="collapseExample" id='tagButton'>
        <span>Tag</span>
      </button>
      <button class="" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false"
        aria-controls="collapseExample" id='moreButton'>
        <span>Info</span>
      </button>
    </div>
    <!--Tag collapsible-->
    <div class="collapse" id="collapseTag">
      <input id="note_timestamp" name="note_timestamp" type="hidden" visibility='hidden' value="{{ timestamp }}"
        readonly>
      <div class="bar">
        <div class="form-group col-md-6">
          <label for="note_category">Tag:</label>

          {% if note['category'] %}
          <input class="form-control" type="text" list="categories" id="note_category" name='note_category'
            placeholder="{{note['category']}}" />
          <datalist id="categories">
            <option>{{note['category']}}</option>

            {% elif not note['category'] %}

            <input class="form-control" type="text" list="categories" id="note_category" name='note_category'
              placeholder="Select from list" />
            <datalist id="categories">

              {% endif %}

              {% for category in categories %}

              <option>{{ category }}</option>
              {% endfor %}

              <option>Enter new tag</option>
            </datalist>
        </div>
      </div>
    </div>
    <!--More information collapsible-->
    <div class="collapse" id="collapseInfo">
      <input id="note_timestamp" name="note_timestamp" type="hidden" visibility='hidden' value="{{ timestamp }}"
        readonly>
      <!--Timestamp-->
      <div class='bar'>
        <div class="form-group col-md-6">
          Note created on {{displayedTime}}
        </div>
      </div>
    </div>
    <!--Note body-->
    <textarea id="note_body" name="note_body"> {% if note %}{{note.body}}{% elif not note %}{% endif %}</textarea>
    <!--Hidden div for noting a change in the tinymce editor-->
    <div id="tinymce-livepreview"></div>
  </form>
  <!--end form-->
</div>
<!--end form container-->
{% endblock app_content %}

{% block moreScripts %}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<!--TinyMCE JS-->
<script src="https://cdn.tiny.cloud/1/ckycyfqwml2uv87kz8af3n6vc22p02k2phge19237f5rfny8/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<!--Custom JS-->
<script type="text/javascript" src="{{url_for('static', filename='js/autosave.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/tinymce.js')}}"></script>
{% endblock moreScripts %}