{% extends "base.html" %}

{% block app_content %}
<div id='frameContainer'>
    <iframe id='pageFrame' src="{{ url }}"></iframe>
</div>
<div id='noteContainer'>
    <form action='/page/?url={{ url }}' method='POST' id='noteForm'>
        {% if note %}
        <textarea name="note" id='note' placeholder="">{{note.body}}</textarea>
        {% endif%}
        {% if not note %}
        <textarea name="note" id='note' placeholder="Note"></textarea>
        {% endif %}
        <button class="btn btn-primary" id='submitNote' type="submit">Save</button>
    </form>
</div>
{% endblock %}