{% extends "base.html" %}

{% block title %}
{{ super() }}
{% if note %}
-{{note.title}}
{% elif not note %}
-Untitled {% endif %}
{% endblock title %}

{% block moreStyle %}
<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!--Custom CSS-->
<link rel="stylesheet" href="{{url_for('static', filename='css/notepage.css')}}" type="text/css">
{% endblock moreStyle %}

{% block app_content %}
<!--Note container-->
<div id='noteContainer'>
  <!--title bar-->
  <div class="titleBar " id='subBar'>
    <div class="col"> <b>Note created on: </b> {{displayedTime}} | <b>Tag:</b> {% if note['category'] %}
      {{note['category']}} {% elif not note['category'] %}Untagged {% endif %} </div>
  </div>
  <!--note body-->
  <div id="note_body_display" name="note_body">
    <h3 id="readTitle">{% if note %}{{note.title}}{% elif not note %}Title{% endif %}</h3>
    <pre>
        <!--Remove HTML tags from displayed text from :https://stackoverflow.com/questions/58922922/flask-reading-text-file-and-view-it-in-html-page-as-lines-->
        {% if note %}{{note.body|safe}}{% elif not note %}{% endif %}
    </pre>
  </div>
  <!--end note-->
</div>
<!--end note container-->
{% endblock app_content %}