{% extends "base.html" %}

{% block title %}
{{ super() }}
Search
{% endblock title %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">   <h2>Search </h2></div>
   <div class="row">
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="searchTerm" placeholder="Search Notes"
                type="text">
        </div>
        <button class="btn btn-primary button" type="submit"><span class="material-icons">
            search
            </span></button>
    </form>
   </div>
</div>
{% endblock %}